.form-suathongtinuser{
	margin-top: 20px;
}

.table-suathongtinuser{

}

.table-suathongtinuser tr{
	display: block;
	margin: 10px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;	
}

.table-suathongtinuser tr td{
	display: block;
	margin-left: 10px;
}

.table-suathongtinuser tr td:first-child{
	width: 130px;
}

.table-suathongtinuser tr td select, .table-suathongtinuser tr td span{
	width: 100px;
	margin-left: 5px;
}

.wrap-button{
	margin: 20px 13px;
}

.modal .modal-content{
	padding: 0 15px;
}

.modal .modal-content img{
	width: 50px;
	height: 50px;
}

.modal .modal-content p{
	text-align: center;
}

.modal .note{
	text-align: center;
	color: red;
	font-size: 11px;
	margin-top: 10px;
}

.message{
	margin-left: 12px;
}

.error-message{
	color: red;
}
.success-message{
	color: green;
}