.form-thongtincanhan{
	margin-top: 20px;
}

.table-thongtincanhan{

}

.table-thongtincanhan tr{
	display: block;
	margin: 10px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.table-thongtincanhan tr td{
	display: block;
	margin-left: 10px;
}

.table-thongtincanhan tr td:first-child{
	width: 80px;
}

.table-thongtincanhan tr td select, .table-thongtincanhan tr td span{
	width: 100px;
	margin-left: 5px;
}

.wrap-button{
	margin: 20px 13px;
}

.modal .modal-content{
	padding: 0 15px;
}

.modal .modal-content img{
	width: 50px;
	height: 50px;
}

.modal .modal-content p{
	text-align: center;
}

.modal .note{
	text-align: center;
	color: red;
	font-size: 11px;
	margin-top: 10px;
}