<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Document</title>
</head>
<body>
	<div  th:fragment="fra-header">
		<header class="header">
			<div class="logo"> Quân Sự </div>
			<div class="wrap-navigation">
				<ul class="nav">
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/trangchu}">Danh Sách Quân Sự</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#">Quản Lý Loại Nghĩa Vụ</a></li>
				</ul>
				<div class="account-login">
					<img class="avatar" src="../static/images/icons/admin.png" th:src="@{/images/icons/admin.png}" alt=""/>
					<span class="information" sec:authentication="principal.user.hoten"> Vu Xuan Tuan Anh </span>

					<ul class="menu-acount">
						<li><a href="#">Thông tin cá nhân</a></li>
						<li><a href="#"> Đổi mật khẩu</a></li>
						<li><a href="#" th:href="@{/thoat}"> Thoát</a></li>
					</ul>
				</div>
			</div>
		</header>
	</div>
</body>
</html>