<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Document</title>
</head>
<body>
	<div  th:fragment="fra-header">
		<header class="header">
			<div class="logo"> Quân Sự </div>
			<div class="wrap-navigation">
				<ul class="nav">
					<li><a href="#">Danh Sách Quân Sự</a></li>
					<li><a href="#">Quản Lý Loại Nghĩa Vụ</a></li>
				</ul>
				<div class="account-login">
					<img class="avatar" src="../static/images/icons/admin.png" th:src="@{/images/icons/admin.png}" alt=""/>
					<span class="information"> Vu Xuan Tuan Anh 22 </span>
					<ul class="menu-acount">
						<li><a href="#">Thong tin ca nhan</a></li>
						<li><a href="#"> Doi mat khau</a></li>
						<li><a href="#" th:href="@{/thoat}"> Thoat</a></li>
					</ul>
				</div>
			</div>
		</header>
	</div>
</body>
</html>