<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Trang Chủ</title>
	<link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/></head>
<body>
<section class="wrap-menu-article">
	<div  th:fragment="fra-left-menu">
		<span class="icon-hidden"></span>
		<div class="wrap-menu">
			<h3 class="title-menu"> Menu</h3>
			<ul class="menu">
				<li><a  href="#" th:href="@{/trangchu}"> Trang chủ </a></li>
				<li><a href="#" th:href="@{/danhsachcongdan/danhsachquatuoinghiavu}"> DSCD quá tuổi nghĩa vụ </a>
				</li>
				<li><a class="menu-active has-sub-menu" href="#"> DSCD đề nghị tạm hoãn gọi nhập ngũ</a>
					<ul class="sub-menu">
						<li><a href="#"> Chưa đủ sức khỏe phục vụ tại ngũ theo kết luận của Hội đồng khám sức khỏe </a></li>
						<li><a href="#"> Là lao động duy nhất phải trực tiếp nuôi người khác trong gia đình không còn sức lao động hoặc chưa đến tuổi lao động </a></li>
						<li><a href="#"> Một con của bệnh binh, người nhiễm chất độc da cam suy giảm khả năng lao động từ 61 - 80% </a></li>	
						<li><a href="#"> Có anh, chị hoặc em ruột là HSQ-BS đang phục vụ tại ngũ; HSQ chiến sĩ thực hiện nghĩa vụ tham gia Công an nhân dân </a></li>
						<li><a href="#">Người thuộc diện di dân, giãn dân trong 3 năm đầu đến các xã đặc biệt khó khắn theo dự án phát triển kinh té - xã hôi</a></li>
						<li><a href="#">Cán bộ, công chức, viên chức, TNXP được điều động đến công tác, làm việc ở vùng có điều kiện kinh tế - xã hội đặc biệt khó khăn theo quy định của pháp luật</a></li>
						<li><a href="#">Đang học tại cơ sở giáo dục phổ thông, đang được đào tạo trình độ đại học chính quy, cao đẳng chính quy</a></li>
					</ul>
				</li>
				<li><a href="#"> DSCD đề nghị miễn gọi nhập ngũ </a>
					<ul class="sub-menu">
						<li><a href="#">Con liệt sĩ, con Thương binh hạng 1</a></li>
						<li><a href="#">Một anh hoặc một em trai của liệt sĩ</a></li>
						<li><a href="#">Một con của thương binh hạng 2, một con của bệnh binh từ 81% trở lên, một con của người nhiễm chất độc da cam từ 81% trở lên</a></li>
						<li><a href="#">Người làm công tác cơ yếu không phải là quân nhân, công an nhân dân</a></li>
						<li><a href="#">Cán bộ, công chức, viên chức, thanh niên xong phong được điều động đến công tác, làm việc ở vùng có điều kiện KT-XH đặc biệt khó khăn từ 24 tháng trở lên</a></li>
					</ul>
				</li>
				<li><a href="#"> Quit </a></li>
			</ul>
		</div>
	</div>
</section>
</body>
</html>