<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Sửa Công Dân</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans"/>
	<link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" href="../static/css/suacongdan.css" th:href="@{/css/suacongdan.css}"/>

	<link rel="stylesheet" href="../static/lib/datetimepicker/jquery.datetimepicker.css" th:href="@{/lib/datetimepicker/jquery.datetimepicker.css}"/>
</head>
<body>
	<!--/*/ <th:block th:include="/header-html :: fra-header"></th:block> /*/-->
	<section class="wrap-menu-article">
		<!--/*/ <th:block th:include="/left-menu-html :: fra-left-menu"></th:block> /*/-->
		<div class="wrap-article">
			<h2 class="title-page">Sửa Công Dân</h2>
			<form class="form-them-cong-dan" th:action="@{/quanlycongdan/suacongdan}" method="post" th:object="${congdan}">
				<input type="hidden" th:field="${congdan.idcongdan}">
				<table>
					<tr>
						<td><h3 class="group-infor">Thông tin cá nhân</h3></td>
					</tr>
					<tr>
						<td>
							<div class="wrap-input-style">
								<input type="text" required="" placeholder="Trần Văn A" th:field="${congdan.hoten}" />
								<span class="mandatory-text"> Họ và Tên Công Dân</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="wrap-input-style">
								<input class="date-picker" type="text" required="" placeholder="Vd: 21/12/1993" th:field="${congdan.ngaysinh}"/>
								<span class="mandatory-text"> Ngày tháng năm sinh</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="wrap-input-style">
								<input type="text" required="" th:field="${congdan.hotencha}"/>
								<span> Tên Cha </span>
							</div>
						</td>
						<td>
							<div class="wrap-input-style">
								<input type="text" required="" th:field="${congdan.hotenme}"/>
								<span> Tên Mẹ </span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="wrap-input-style">
								<input type="text" required="" placeholder="199 Đống Đa" th:field="${congdan.diachi}"/>
								<span> Địa Chỉ </span>
							</div>
						</td>
						<td>
							<div class="wrap-input-style" style="width:75px">
								<input type="number" required="" th:field="${congdan.todanpho}"/>
								<span> Tổ Dân Phố </span>
							</div>
						</td>
						<td>
							<div class="wrap-input-style">
								<input class="text-disable" type="text" name="phuong" required="" value="Thạch Thang"/>
								<span> Phường </span>
							</div>
						</td>
					</tr>
					<tr>
						<td><h3 class="group-infor">Học Vấn</h3></td>
					</tr>
					<tr>
						<td>
							<div class="wrap-input-style">
								<input type="text" required="" th:field="${congdan.trinhdohocvan}"/>
								<span> Trình Độ Học Vấn </span>
							</div>
						</td>
						<td>
							<span> Cấp Đào Tạo: </span>
							<select class="se-capdaotao" th:field="${congdan.capdaotao.idcapdaotao}">
								<option th:each="capdaotao : ${listCapdaotao}" 
										th:value="${capdaotao.idcapdaotao}" 
										th:text="${capdaotao.mota}">Đại học
								</option>
								
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<div class="wrap-input-style">
								<input  type="text" required="" th:field="${congdan.tentruong}"/>
								<span> Tên Trường </span>
							</div>
						</td>
						<td>
							<div class="wrap-input-style">
								<input  type="text" required="" th:field="${congdan.nganhhoc}"/>
								<span> Ngành Học </span>
							</div>
						</td>
						<td>
							<div class="wrap-input-style">
								<input  type="text" required="" th:field="${congdan.nienkhoa}"/>
								<span> Niên Khóa </span>
							</div>
						</td>
					</tr>
					<tr>
						<td><h3 class="group-infor">Sức Khỏe</h3></td>
					</tr>
					<tr>
						<td>
							<div class="wrap-input-style">
								<input  type="text" required="" th:field="${congdan.phanloaisuckhoe}"/>
								<span> Phân Loại Sức Khỏe </span>
							</div>
						</td>
						<td>
							<div class="wrap-input-style">
								<input  type="text" required="" th:field="${congdan.tinhtrangsuckhoe}"/>
								<span> Tình trạng sức khỏe </span>
							</div>
						</td>
					</tr>
					<tr>
						<td><h3 class="group-infor">Thông Tin Nghĩa Vụ Cá Nhân</h3></td>
					</tr>
					<tr class="row-nghia-vu">
						<td>
							<p>Loại Nghĩa Vụ</p>
							<select id="se-lnv" name="">
								<option th:each="loainghiavu : ${listLoainghiavu}"
										th:value = "${loainghiavu.idloainghiavu}"
										th:text="${loainghiavu.mota}">Đề Nghị Tạm Hoãn Gọi Nhập Ngũ
								</option>
							</select>
							<p id="p-lnv"></p>
						</td>
						<td>
							<p> Lý Do </p>
							<select id="se-ld" th:field="${congdan.lydo.idlydo}"
									th:attr="data-idlydo=${congdan.lydo.idlydo},
											 data-idloainghiavu=${congdan.lydo.loainghiavu.idloainghiavu}">
								<option value="1"
										th:each="lydo : ${congdan.lydo.loainghiavu.lydos}"
										th:value = "${lydo.idlydo}"
										th:text="${lydo.mota}"> Khác
								</option>
							</select>
							<p id="p-ld"></p>
						</td>
						<td>
							<p> Phân Loại Lý Do </p>
							<select id="se-plld" name="idphanloailydo"
									th:attr="data-idphanloailydo=${congdan.idphanloailydo}">
								<option value="0"
										th:each="phanloailydo : ${congdan.lydo.phanloailydos}"
										th:value="${phanloailydo.idphanloailydo}"
										th:text="${phanloailydo.mota}">
								</option>
							</select>
							<p id="p-plld"></p>
						</td>
					</tr>
					<tr>
						<td><h3 class="group-infor">Thông Tin Ghi Chú</h3></td>
					</tr>
					<tr>
						<td colspan="3">
							<p class="title-input"> Ghi Chú - Biên Chế </p>
							<textarea name="" id="" cols="90" rows="5" th:field="${congdan.ghichu}"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<p class="title-input"> Lý Do Cụ Thể </p>
							<textarea name="" id="" cols="90" rows="5" th:field="${congdan.lydocuthe}"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<p class="title-input"> Ghi Chú Cá Nhân </p>
							<textarea name="" id="" cols="90" rows="10" th:field="${congdan.ghichucanhan}"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<button type="button" class="btn btn-style comfirm"> Xác Nhận Sửa </button>
							<a href="#"><button class="btn btn-style bgOrange">Tải Lại</button></a>
							<a href="#" th:href="@{/trangchu}"><button class="btn btn-style bgGreen">Quay Lại Trang Chủ</button></a>
						</td>
					</tr>
				</table>	
			</form>
			
		</div> <!-- /wrap-article -->
	</section>
</body>
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../static/js/common.js" th:src="@{/js/common.js}"></script>
<script type="text/javascript" src="../static/lib/datetimepicker/jquery.datetimepicker.full.js" th:src="@{/lib/datetimepicker/jquery.datetimepicker.full.js}"></script> 
<script type="text/javascript" src="../static/js/suacongdan.js" th:src="@{/js/suacongdan.js}"></script>
<script type="text/javascript" th:inline="javascript">

</script>
</html>