<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Admin Site</title>
	<link rel="stylesheet" href="../static/css/common.css" th:href="@{css/common.css}"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
</head>
<body>
	<!--/*/ <th:block th:include="/header-html :: fra-header"></th:block> /*/-->
	<section class="wrap-menu-article">
		<!--/*/ <th:block th:include="/left-menu-html :: fra-left-menu"></th:block> /*/-->
		<div class="wrap-article">
			
		</div> <!-- /wrap-article -->
	</section>
</body>
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../static/js/common.js" th:src="@{js/common.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {

	});
</script>
</html>